body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e40c0c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(211, 8, 8, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}
